/* USE THIS TO OVERWRITE BOOTSTRAP NATIVE STYLES/CLASSES */

:root {
	--primary: #E05433 !important;
	--secondary: #6c757d !important;
	--success: #28a745 !important;
	--info: #17a2b8 !important;
	--warning: #ffc107 !important;
	--danger: #dc3545 !important;
}

body {
	background-color: #f8f9fa !important;
}

.bg-primary,
.btn-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
	border-color: var(--primary) !important;
}

.Toastify__toast {
	padding:  25px !important;
	box-shadow: 5px 10px 18px #888888
}

.Toastify__toast--success {
	background-color: var(--success) !important;
}

.Toastify__toast--error {
	background-color: var(--danger) !important;
}

.Toastify__toast--info {
	background-color: var(--info) !important;
}