.showcase {
	position: relative;
	background: url("../public/images/showcase.jpg") no-repeat center center/cover;
	background-attachment: fixed;
	min-height: 100vh;
	color: #fff
}

.showcase_inner {
	text-align: center;
	padding-top: 20%;
	height: 100%;
	width: 80%;
	margin: auto
}

.dark_overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}